# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build products
*.app
*.dSYM.zip
*.dSYM

# Swift
*.swiftmodule
*.swiftdoc
*.swiftinterface

# Dependencies
Carthage/
Pods/

# IDE
.vscode/
.idea/

# Other
*.log
*~
.*.sw?
